<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image_Render</title>

     <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- custom style -->
    <style>
    .img-responsive{
        width: 700px;
        height: 300px;
        
    }
</style>
</head>


<body >
    <h1 style ="text-align: center;">Image Tagging and Retrival</h1>

    <div class="container">

        <div class="row">
    
            <div class="col-lg-12">
                <h1 class="page-header">Image Gallery</h1>
            </div>
            <hr>

            <!-- looping through each images in the list -->
            {% for image_name in image_names %}
            <div class="col-lg-3">
                <figure>
                <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">

                <!--printing the title,tag and discription of particular image below it  by getting info from the passed lists from server -->
                <b>Title: </b>{{title[image_names.index(image_name)]}}
                <hr>
                <b>Description: </b>{{description[image_names.index(image_name)]}}
                <hr>
                <b>Tags: </b>{{tags[image_names.index(image_name)]}}
                
                <hr>

                <!-- various forms -->
                <!-- we are giving the "name attribute" = image_name so that we can recognise later which image form is filled  -->
                <!-- name attribute of button differentiates which button is pressed among multiple buttons. -->
                <form action="/" method="post">
                    <input type="text" name = "{{image_name}}" autocomplete="off" placeholder="Title">
                    <button type="submit" name = "submit_btn" value = "title">+</button>
                </form>

                <form action="/" method="post">
                    <input type="text" name = "{{image_name}}" autocomplete="off" placeholder="Image Description">
                    <button type="submit" name = "submit_btn" value = "update">Update</button>
                </form>
            
                <form action="/" method="post">
                    <input type="text" name = "{{image_name}}" autocomplete="off" placeholder="Add Tag">
                    <button type="submit" name = "submit_btn" value = "add" >Add</button>
                </form>
            
                <form action="/" method="post">
                    <input type="text" name = "{{image_name}}" autocomplete="off" placeholder="Remove Tag">
                    <button type="submit" name = "submit_btn" value = "remove">Remove</button>
                </form>
    
                </figure>
            </div>
            {% endfor %}
            
        </div>


    <!-- ------------------------------------------------------------------ -->
    <!-- Form code for query -->

    <div>
        <br> <hr style="height:5px;color:rgb(8, 0, 0);background-color:rgb(14, 0, 0)">
        <h1>Quering Images</h1>

        <form action="/" method="post">
            <input type="text" name="queryByTag" autocomplete="off" placeholder="Search by Tag" >
            <button type="submit">Go</button>
        </form>
  
    </div>

    <!-- -------------------------------------------------------------------- -->
</div>

    
</body>
</html>